.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.project-title {
  position: relative;
}
.project-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.project-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}
.project-format h2 {
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-format p {
  color: white;
  font-size: 24px;
  text-align: justify;
}
.project-format:hover {
  border: 2px solid purple;
  transform: scale(1.05);
  transition: 0.4s;
}
@media (min-width: 250px) and (max-width: 768px) {
  .project {
    margin: 40px 20px;
    gap: 40px;
  }
  .project-title h1 {
    font-size: 25px;
    padding: 0 10px;
    text-align: center;
  }
  .project-container {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;
  }
  .project-format {
    padding: 30px 20px;
    gap: 15px;
  }
  .project-format h2 {
    font-size: 26px;
    text-align: center;
  }
  .project-format p {
    font-size: 16px;
    text-align: justify;
  }
}
