.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect :hover {
  transform: scale(1.05);
}
.navbar img {
  height: 40px;
  width: 50px;
  border-radius: 50%;
}
.anchor-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease;
}

.anchor-link.active {
  border-bottom: 2px solid #db8bf1;
}

.anchor-link:hover {
  border-bottom: 2px solid #db8bf1;
}
.nav-connect {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: inline-block;
}
.nav-connect:hover {
  transform: scale(1.05);
  text-decoration: none;
}
.nav-mob-open {
  display: none;
}
.nav-mob-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 20px;
    justify-content: space-between;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    height: 30px;
    width: 40px;
    cursor: pointer;
    z-index: 3;
  }

  .nav-mob-toggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    height: 30px;
    width: 40px;
    cursor: pointer;
    z-index: 3;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    right: -350px;
    gap: 30px;
    background-color: black;
    width: 300px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    padding-top: 60px;
  }

  .nav-menu li {
    font-size: 24px;
    padding-left: 40px;
  }
}
